{% extends "base.html" %}

{% block content %}

<h1>Recipes</h1>

<div class="recipe-grid">

{% for article in articles %}

<a class="recipe-card" href="{{ article.url }}">

<img class="recipe-thumb" src="/{{ article.metadata.thumbnail }}">

<div class="recipe-info">

<div class="recipe-header">

<h3 class="recipe-title">{{ article.title }}</h3>

<span class="tag">{{ article.category }}</span>

</div>

<p class="recipe-desc">
{{ article.summary }}
</p>

</div>

</a>

{% endfor %}

</div>

{% endblock %}